CHANGE MASTER TO MASTER_HOST='{{ .Env.MYSQL_REPLICA_MAIN_HOST }}', MASTER_PORT={{ .Env.MYSQL_REPLICA_MAIN_PORT }}, MASTER_USER='{{ .Env.MYSQL_REPLICA_USER }}', MASTER_PASSWORD='{{ .Env.MYSQL_REPLICA_PASSWORD }}';