{{ define "title"}}Friends{{end}}

{{ define "content" }}
    <h1>{{ .Chat.Title }}</h1>

    {{ range .Messages }}
        {{ .SentAt }} <b>{{ .Author }}</b>: {{ .Content }}
    {{ end }}

    <form method="POST" action="/chats/{{ .Chat.ID }}/message/">
        <label for="message">your message</label>
        <textarea id="message" name="message"></textarea>
        <input type="submit" value="send message">
    </form>
{{ end }}
